main {

    .contenido {
        display: grid;
        grid-template-columns: auto 1fr;

            .value {
                display: flex;
                flex-direction: column;
                padding: 5px;
                margin: 10px;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                
                    h4 {
                        font-size: 18px;
                        background-color: #001845;
                        color: white;
                    }

                    .divisas {
                        .divisa {
                            padding: 10px;
                        }
                    }
            }
    }

    background-color: #f7f7f7;
    height: 100vh;
    .title-bar {
        background-color: #001233;
        color: white;
        text-align: center;
        padding: 15px;
        font-size: 20px;
    }

    .text {
        font-size: 23px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #001845;
        color: white;
    }

    .result {
        color: black;
        text-align: center;
        padding-top: 100px;
        font-size: 20px;
    }
    .calculation {
        display: flex;
        justify-content: center;

        button {
            
            height: 40px;
            width: 70px;
            color: white;
            background-color: #001845;
            border-radius: 15px;
        }    
        
    }
}