.container{
    width: 1000px;
    margin: 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: black 2px 2px 10px;
    
    .sub-container {
        .input {
            display: flex;
            justify-content: center;
            height: 30px;
            margin-top: 50px;

                input {
                    height: 100%;
                    width: 100%;
                    text-align: center;
                }
        }

        .selectors-container{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

                .selectorYinput{
                    text-align: center;
                    margin-top: 100px;

                        .selector {
                            .select{
                                height: 30px;
                                color: whitesmoke;
                                background-color: #001845;
                                text-align: center;
                                border-radius: 8px;
                                border: none;
                            }
                        }
                }
                
        }

    }

.arrow {
    font-size: 20px;
    font-weight: 900;
    padding-top: 9px;
    
}





    .input {
        display: flex;
        justify-content: center;
        align-items: center;
            input {
                width: 1000px;
            }
    }
}
        



    


