.container{
    width: 100%;
    .sub-container {
        .input {
            display: flex;
            justify-content: center;
            height: 30px;
            margin-top: 50px;

                input {
                    height: 100%;
                    width: 100%;
                    text-align: center;
                }
        }
        .selector {
            width: 350px;

                .selectField{
                    width: 100%;
                    padding: 15px 20px;
                    margin-bottom: 30px;
                    box-sizing: border-box;
                    background-color: rgba(255,255,255,0.7);
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;

                        img{
                            width: 12px;
                            transition: transform 0.5s;
                        }
                }

                .list{
                    width: 100%;
                    background: rgba(255,255,255,0.7);
                    border-radius: 6px;
                    overflow: hidden;

                        .options{
                            width: 100%;
                            padding: 15px;
                            list-style: none;
                            cursor: pointer;
                            box-sizing: border-box;
                        }

                        .options:hover{
                            background: rgb(228, 228, 228);
                        }
                }

                .hide {
                    visibility: hidden;
                }

                .rotate {
                    transform: rotate(180deg);
                    
                }
        }

        .selectors-container{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

                .selectorYinput{
                    text-align: center;
                    margin-top: 100px;

                        .selector {
                            .select{
                                height: 30px;
                                color: whitesmoke;
                                background-color: #001845;
                                text-align: center;
                                border-radius: 8px;
                                border: none;
                            }
                        }
                }
                
        }

    }

.arrow {
    font-size: 20px;
    font-weight: 900;
    padding-top: 9px;
    
}





    .input {
        display: flex;
        justify-content: center;
        align-items: center;
            input {
                width: 1000px;
            }
    }
}
        



    


